$theme1-primary-100: #fcfcfc;
$theme1-primary-200: #f9f9f9;
$theme1-primary-300: #ededed;
$theme1-primary-400: #dcdcdc;
$theme1-primary-500: #c6c6c6;
$theme1-primary-600: #aa9092;
$theme1-primary-700: #8e636b;
$theme1-primary-800: #723f4c;
$theme1-primary-900: #5f2639;
$theme1-primary-transparent-100: rgba(198, 198, 198, 0.08);
$theme1-primary-transparent-200: rgba(198, 198, 198, 0.16);
$theme1-primary-transparent-300: rgba(198, 198, 198, 0.24);
$theme1-primary-transparent-400: rgba(198, 198, 198, 0.32);
$theme1-primary-transparent-500: rgba(198, 198, 198, 0.4);
$theme1-primary-transparent-600: rgba(198, 198, 198, 0.48);
$theme1-success-100: #cefcd5;
$theme1-success-200: #9ffab6;
$theme1-success-300: #6ef29c;
$theme1-success-400: #48e68f;
$theme1-success-500: #13d67e;
$theme1-success-600: #0db87c;
$theme1-success-700: #099a75;
$theme1-success-800: #067c6a;
$theme1-success-900: #036661;
$theme1-success-transparent-100: rgba(19, 214, 126, 0.08);
$theme1-success-transparent-200: rgba(19, 214, 126, 0.16);
$theme1-success-transparent-300: rgba(19, 214, 126, 0.24);
$theme1-success-transparent-400: rgba(19, 214, 126, 0.32);
$theme1-success-transparent-500: rgba(19, 214, 126, 0.4);
$theme1-success-transparent-600: rgba(19, 214, 126, 0.48);
$theme1-info-100: #ddeeff;
$theme1-info-200: #bcdcff;
$theme1-info-300: #9bc7ff;
$theme1-info-400: #82b4ff;
$theme1-info-500: #5996ff;
$theme1-info-600: #4173db;
$theme1-info-700: #2c55b7;
$theme1-info-800: #1c3a93;
$theme1-info-900: #11277a;
$theme1-info-transparent-100: rgba(89, 150, 255, 0.08);
$theme1-info-transparent-200: rgba(89, 150, 255, 0.16);
$theme1-info-transparent-300: rgba(89, 150, 255, 0.24);
$theme1-info-transparent-400: rgba(89, 150, 255, 0.32);
$theme1-info-transparent-500: rgba(89, 150, 255, 0.4);
$theme1-info-transparent-600: rgba(89, 150, 255, 0.48);
$theme1-warning-10: #fff8d8;
$theme1-warning-20: #ffeeb1;
$theme1-warning-30: #ffe28a;
$theme1-warning-40: #ffd76d;
$theme1-warning-50: #ffc43d;
$theme1-warning-60: #dba02c;
$theme1-warning-70: #b77f1e;
$theme1-warning-80: #936013;
$theme1-warning-90: #7a4a0b;
$theme1-warning-transparent-100: rgba(255, 196, 61, 0.08);
$theme1-warning-transparent-200: rgba(255, 196, 61, 0.16);
$theme1-warning-transparent-300: rgba(255, 196, 61, 0.24);
$theme1-warning-transparent-400: rgba(255, 196, 61, 0.32);
$theme1-warning-transparent-500: rgba(255, 196, 61, 0.4);
$theme1-warning-transparent-600: rgba(255, 196, 61, 0.48);
$theme1-danger-100: #ffe5e0;
$theme1-danger-200: #ffc6c1;
$theme1-danger-300: #ffa3a5;
$theme1-danger-400: #ff8c9a;
$theme1-danger-500: #ff6687;
$theme1-danger-600: #db4a77;
$theme1-danger-700: #b73369;
$theme1-danger-800: #93205a;
$theme1-danger-900: #7a1351;
$theme1-danger-transparent-100: rgba(255, 102, 135, 0.08);
$theme1-danger-transparent-200: rgba(255, 102, 135, 0.16);
$theme1-danger-transparent-300: rgba(255, 102, 135, 0.24);
$theme1-danger-transparent-400: rgba(255, 102, 135, 0.32);
$theme1-danger-transparent-500: rgba(255, 102, 135, 0.4);
$theme1-danger-transparent-600: rgba(255, 102, 135, 0.48);
$theme1-text-light-500: #505050;
$theme1-text-dark-600: rgba(255, 102, 135, 0.48);

$accent-100: #a4a4a4;
$accent-200: #ef9f24;
$primary-200: #0f1923;

$light-primary-100: #e6e6e6;
$light-primary-150: #d4d4d4;
$light-primary-200: #838d87;
$light-primary-300: #46584e;
$light-contrast-300: #202a3b;
$light-accent-100: #f7e6ce;
$light-accent-200: #d3ae77;
$light-accent-300: #ef9f24;

$light-gray-100: #5a5454;

$accent-main: #e10081;
$cloud-off-white: #f7f8fb;
$cloud-shadow-gray: rgba(15, 25, 35, 0.05);
$cloud-shadow-main: rgba(239, 0, 115, 0.15);
$cloud-silver: #f1f3f4;
$cloud-gray: #dcdde1;
$cloud-light-gray: #eeeff1;
$cloud-dark-gray: #828488;
$cloud-black: #141d29;
$cloud-mid-gray: #bbbcbe;
$cloud-key: #0f1923;
$cloud-premium-black: #0a131c;
$cloud-navy-1: #202a35;
$cloud-navy-2: #2d3c4e;
$cloud-navy-0: #181e28;
$cloud-navy-3: #4b5a6c;
$cloud-navy-4: #738294;
$cloud-navy-5: #a3b2c3;
$cloud-neon-green: #18d26f;
$cloud-pale-green: #cff7e6;
$cloud-palest-green: #edfbf5;
$cloud-gray-green: #c6e5d840;
$cloud-yellow: #ffe158;
$cloud-pale-yellow: #fff792;
$cloud-pale-blue: #e7ebf4;
$cloud-green: #0cb56f;
$cloud-palest-blue: #f7f8fb;
$cloud-sky-blue: #f3f7fa;
$cloud-light-blue: #22d0ff;
$cloud-blue: #4862ff;
$cloud-purple-blue: #4862ff;
$cloud-dark-blue: #2f3fef;
$cloud-plum: #1f1c78;
$cloud-purple: #734cf2;
$cloud-pale-purple: #f3e8ff;
$cloud-pale-red: #ffc7c0;
$cloud-palest-red: #fff2f0;
$cloud-pink: #ec7f84;
$cloud-dark-pink: #e14f6c;
$cloud-pale-pink: #fcceca;
$cloud-orange: #ffa25c;
$cloud-pale-orange: #ffebdb;
$cloud-red: #fb5960;
$cloud-card-radius: 5px;
$cloud-border-radius: 5px;
$cloud-border-radius-sm: 3px;
$cloud-letter-spacing: -0.0125em;
$cloud-container-width: 74rem;
$cloud-container-sm-width: 64rem;
$cloud-container-lg-width: 100rem;
$cloud-border-light: rgba(15, 25, 35, 0.075);
$cloud-card-border-color: #dcdde1;
$cloud-cubic-bezier: cubic-bezier(0.16, 1.01, 0.93, 0.99);
$cloud-bg-skew: -5deg;
$cloud-bg-skew-left: 11deg;
$cloud-sandbox-color: var(--cloud-purple);
$cloud-code-bg: #36393c;
$cloud-sidebar-width: 228px;
$cloud-padding: 24px;
$cloud-account-header-top-height: 48px;
$cloud-console-sidebar-bg: var(--cloud-navy-1);
$cloud-console-bg: var(--cloud-palest-blue);
$cloud-console-header-bg: #fff;

//themes
// Default
$theme-background-light: $theme1-primary-200;
$theme-background-dark: $theme1-primary-800;
$theme-text-light: $theme1-primary-200;
$theme-text-dark: $theme1-primary-800;
$theme-border-light: $theme1-primary-200;
$theme-border-dark: $theme1-primary-800;

.theme1 {
  $theme-background-light: $theme1-primary-200;
  $theme-background-dark: $theme1-primary-800;
  $theme-text-light: $theme1-primary-200;
  $theme-text-dark: $theme1-primary-800;
  $theme-border-light: $theme1-primary-200;
  $theme-border-dark: $theme1-primary-800;
}

.theme2 {
  $theme-background-light: $theme1-success-200;
  $theme-background-dark: $theme1-success-800;
  $theme-text-light: $theme1-success-200;
  $theme-text-dark: $theme1-success-800;
  $theme-border-light: $theme1-success-200;
  $theme-border-dark: $theme1-success-800;
}

.fas, .fab {
  outline: none;
}

.accent {
  color: $accent-200;
}

.dashboard-header {
  color: $theme1-primary-700;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
  border-top: 1px solid $theme1-primary-600;
  border-bottom: 1px solid $theme1-primary-500;
}

.uk-text-success {
  color: #189c6c !important;
}

.uk-text-danger {
  color: $theme1-danger-400 !important;
}

.uk-notification-message {
  position: relative;
  padding: 15px;
  background: $theme1-primary-800;
  border-radius: 10px;
  color: $theme1-primary-200;
  font-size: 0.8em;
  line-height: 1.2;
  cursor: pointer;
}

.uk-table th {
  padding: 16px 12px;
  text-align: left;
  vertical-align: bottom;
  font-size: .75rem;
  font-weight: 400;
  color: #999;
  text-transform: uppercase;
  line-height: 1;
}

.uk-table-divider > :first-child > tr:not(:first-child),
.uk-table-divider > :not(:first-child) > tr,
.uk-table-divider > tr:not(:first-child) {
  border-top: 1px solid $theme1-primary-500;
}

.feedback {
  background-color: $theme1-primary-800;
  color: $theme1-primary-200;
  border-radius: 10px;
  padding: 40px 40px 20px;
}
